/* .tourdulich {
    background-color: #ad85b8;
    padding: 10px;
  } */
  h1{
    color: brown;
    text-align: center;
  }

  button.btn.btn-primary.bt {
    margin-right: 15px;
    margin-bottom: 15px;
}

button.btn.btn-primary.bt1 {
    margin-bottom: 5px;
}